| Level | Meaning |
| <%= color_code_maturity(3) %> | Measurable, time series, identified target for the metric, automated data extraction, dashboard in Periscope available to the whole company (if not the whole world) |
| <%= color_code_maturity(2) %> | About two-thirds done. <i>E.g.</i> Missing one of: automated data collection, defined threshold, or periscope dashboard. |
| <%= color_code_maturity(1) %> | About one-third done. <i>E.g.</i> Has one of: automated data collection, defined threshold, or periscope dashboard. |
| <%= color_code_maturity(0) %> | We only have an idea or a plan. |
