.hello-bar-wrapper
  %a.hello-bar.animated.hello-bar-dark{ href: '/events/commit/' }
    .hello-bar-content

      %p
        GitLab’s first user conferences are coming to Brooklyn and London. Reserve your seat now!
